// Breakpoints
$breakTablet: 768px;

// Colors
$darkGreen: #1e3932;
$lightGreen: #008248;
$softGreen: #d4e9e2;
$whiteGreen: #f1f8f6;
$whiteYellow: #f3f1e7;
$black: #000000;

// Fonts
$mainFont: 'Poppins';